*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  display: grid;
  grid-template-areas:
    "result details"
    "result details";
  grid-template-columns: 711px 1fr;
  grid-template-rows: 456px 1fr;
  gap: 30px;
  margin: 133px 30px;
}

.result {
  grid-area: result;
  height: 456px;
  width: 711px;
  margin-top: 78px;
}

.result__video-container {
  height: 386px;
  width: 711px;
}

.result__video {
  height: 386px;
  width: 711px;
}

.search-form {
  display: flex;
  margin-top: 16px;
  gap: 40px;
  height: 59px;
  align-content: start;
}

.search-form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.search-form__fieldset-title {
  font-size: 16px;
  color: #fff;
  margin: 0 0 8px 0;
  font-weight: normal;
}

.search-form__checkbox-list {
  display: flex;
  gap: 16px;
  align-items: center;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
  cursor: pointer;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label-text {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  background: transparent;
  flex-shrink: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  width: 14px;
  height: 14px;
  background: #fff;
}

.search-form__textfield {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 225px;
  padding: 4px 0;
  background: transparent;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  outline: none;
}

.search-form__textfield:active {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__textfield-label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.content__list-container {
  height: 100%;
  overflow-y: auto;
}

.content__details {
  grid-area: details;
  display: flex;
  flex-direction: column;
  height: 534px;
  width: 399px;
  gap: 30px;
}

.content__details h2 {
  margin: 0;
}

.content__accent {
  color: #545050;
}

.title {
  text-transform: uppercase;
}

.town {
  width: 225px;
  height: 54px;
}

.search-form__textfield:focus {
  outline: none;
}

.time-of-day {
  width: 212px;
  height: 49px;
}

.search-form__submit-button {
  display: block;
  background-color: #1b1919;
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
  padding: 6px 73.5px;
  margin-top: 20px;
  border: 2px solid #fff;
  cursor: pointer;

  flex: none;
  order: 0;
  flex-shrink: 0;
  flex-grow: 0;
}

.search-form__submit-button:active {
  background-color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.search-form__submit-button:hover {
  text-decoration: underline;
}

.search-form__submit-button:focus {
  outline: none;
}

.search-form__submit-button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.content__list-item {
  height: 103px;
  width: 390px;
  margin-bottom: 30px;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__card-link:active {
  background-color: rgba(255, 255, 255, 0.5);
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__video-card:focus {
  outline: none;
}

.content__video-card:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 0.5px;
}

.content__video-card {
  display: flex;
  height: 103px;
  width: 390px;
  border-radius: 0;
}

.content__video-card-description-container {
  width: 196px;
  display: flex;
  gap: 6px;
  flex-direction: column;
}

.content__video-card-title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  align-self: stretch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  align-self: stretch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
  border: none;
}

.title {
  width: 259px;
  height: 210px;

  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
}

.more-button-template {
  height: 34px;
  width: 390px;
}

.more-button {
  display: block;
  background-color: #1b1919;
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
  padding: 6px 140.5px;
  border: 2px solid #fff;
  cursor: pointer;

  flex: none;
  order: 0;
  flex-shrink: 0;
  flex-grow: 0;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

ul,
ol {
  list-style: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}